name: File Count Updater

on:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  update-file-count:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run file-count action
        uses: Nemo-docs/autodocs@main
